---
layout: default
---
{% for project in site.projects %}
<div class="project">
  <div class="project-img">
    <div class="project-img-background" style="background-image:url({{project.thumb}})"></div>
    <div class="project-img-background-black"></div>
  </div>
  <div class="project-info">
    <p class="project-title">{{project.title}}</p>
    <hr>
    <p class="project-subtitle">{{project.subtitle}}</p>
  </div>
  {% if project.copyright %}
  <div class="project-copyright">
  </div>
  {% endif %}
</div>
{% endfor %}