---
layout: default
title: "Mihir's Projects"
nav_title: "- Projects"
---
<div class="projects">
  {% for project in site.projects reversed %}
  <div class="project">
    <div class="project-img">
      <div class="project-img-background" style="background-image:url({{project.thumb}})"></div>
      <div class="project-img-background-black"></div>
    </div>
    <div class="project-info">
      <a href="{{project.url}}"><p class="project-title">{{project.title}}</p></a>
      <p class="project-subtitle">{{project.subtitle}}</p>
    </div>
    {% if project.copyright %}
    <div class="project-copyright">
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

<p>A white dot in the bottom right indicates unoriginal content was used in the project.</p>