---
layout: default
title: "Mihir's Music Stuff"
nav_title: "- Music"
description: "Information about Mihir's Music"
---

<p>I'm a big big music guy</p>
<h2>Production</h2>
<p>Just check out my <a target="_blank" href="https://mistermjir.github.io">other website</a>.</p>
<h2>Texas SOUnD</h2>
<p>2022-2025</p>
<p>Alternative percussion, very fun. Here are some show recordings:</p>
<div class="music-container">
    {% for music in site.music reversed %}
    {% if music.category == "txsound" %}
    <div class="music">
      <div class="music-img">
        <div class="music-img-background" style="background-image:url({{music.img}})"></div>
        <div class="music-img-background-black"></div>
      </div>
      <div class="music-info">
        <a target="_blank" href="{{music.mlink}}"><p class="music-title">{{music.name}}</p></a>
        <p class="music-subtitle">{{music.subtitle}}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
<h2>Coppell Percussion</h2>
<p>2018-2022</p>
<p>I marched bass drum. Here are some drumline show recordings:</p>
<div class="music-container">
    {% for music in site.music %}
    {% if music.category == "coppell" %}
    <div class="music">
      <div class="music-img">
        <div class="music-img-background" style="background-image:url({{music.img}})"></div>
        <div class="music-img-background-black"></div>
      </div>
      <div class="music-info">
        <a target="_blank" href="{{music.mlink}}"><p class="music-title">{{music.name}}</p></a>
        <p class="music-subtitle">{{music.subtitle}}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>