<nav>
  <div class="nav-mobile-header">
    <div class="hamburger">
      <div
        class="hamburger-lines open"
        onclick="hamburger_toggle(this, document.getElementsByTagName('nav')[0]);">
        <hr><hr><hr>
      </div>
    </div>
    <div class="nav-title">
      <p>Mihir C <span class="extra">{% if page.nav_title %}{{page.nav_title}}{% endif %}</span></p>
    </div>
  </div>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/projects/">PROJECTS</a></li>
    <li><a href="/blog">BLOG</a></li>
  </ul>
</nav>