pre.highlight {
  padding: 16px;
  border-radius: 16px;
  background-color: #2a2d37;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.25);
  overflow-x: auto;
  padding-right: 16px;

  span {
    color: inherit;

    // Code styling
    &.k {
      color: #9e6acb;
    }

    &.n {
      color: #89cbfe;
    }

    &.kt {
      color: #5cb8ff;
    }

    &.c1, &.cm {
      color: #ccc;
      font-style: italic;
    }

    &.mi, &.mh {
      color: #8ce9f5;
    }
  }
}