footer {
  background: #383838;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  width: calc(100% - 64px);
  box-shadow: 0 -3px 9px rgba(0,0,0,.25);

  .copyright {
    margin: 0;
    margin-bottom: 16px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      justify-content: center;
      padding: 4px;
    }

    a {
      color: #fff;
      font-size: small;
      text-decoration: none;
    }
  }
}