@font-face {
  font-family: Poppins;
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

body {
  font-family: Poppins, sans-serif;
  color: #242432;
}

main {
  min-height: calc(100vh - 96px);
  padding: 16px;
}

a {
  color: #33a5ff;
}